<span id="top"></span>

<div id="navigation">

  <div class="nav-bar-top">
    <a class="toggle-menu">
      <icon class="icon-menu"></icon>
  </a>
    <a href="{{ site.baseurl }}/" class="nav-bar-top-logo">
      <h3 class="tk-catseye">Everfree Northwest</h3>
    </a>
  </div>
  <container>
    <row class="nav-mane">
      <columnz class="nav-left">
        <span class="nav-dropdown nav-dropdown-left"><!--desktop left column-->
          <ul>
            <li>
              <a href="#">Events</a>
              <ul>
                <li><a href="/events">Schedule</a></li>
                <li><a href="/maps">Maps</a></li>
                <li><a href="/events/contests">Contests</a></li>
                <li><a href="/events/charity">Charity</a></li>
                <li><a href="/events/ponystock">Ponystock</a></li>
                <li><a href="/events/gala">Gala</a></li>
                <li><a href="/events/escape-rooms">Escape Rooms</a></li>
                <li><a href="/registration/tickets">Special Events</a></li>
                <li><a href="/news">News</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Guests</a>
              <ul>
                <li><a href="/guests">Special Guests</a></li>
                <li><a href="/community-guests">Community Guests</a></li>
              </ul>
            </li>
            <li>
              <a href="#">About</a>
              <ul>
                <li><a href="/about">What is EFNW?</a></li>
                <li><a href="/about/policy">Policies</a></li>
                <li><a href="/about/characters">Characters</a></li>
              </ul>
            </li>
          </ul>
        </span><!--end desktop left column-->
        <!--mobile left column-->
        <!-- <span class="visible-mobile text-right nav-left">
          <a href="/" class="visible-mobile">Home</a>
          <a href="/about">About</a>
          <a href="/guests">Guests</a>
          <a href="/news">News</a>
        </span> -->
        <!--end mobile left column-->
      </columnz>
      <columnz size="10" class="text-center nav-logo hidden-mobile">
        <a href="{{ site.baseurl }}/" class="nav-logo-link">
            <img src="/images/brand/logo-round-green.svg" alt="Everfree Northwest Homepage" title="Everfree Northwest Homepage" width="90" height="90">
        </a>
      </columnz>
      <columnz class="nav-right">
        <span class="nav-dropdown nav-dropdown-right"><!--desktop right column-->
          <ul>
            <li>
              <a href="/vendors">Vendors</a>
            </li>
            <li>
              <li><a href="/hotel">Location</a></li>
            </li>
            <li>
              <a href="#">Register</a>
              <ul>
                <li><a href="/register">View Badges</a></li>
                <li><a href="/register/old">Buy a Badge</a></li>
                <li><a href="/registration/tickets">Special Events</a></li>
                <li><a href="/register/escape-room/">Escape Rooms</a></li>
                <li><a href="/volunteer">Volunteer</a></li>
              </ul>
            </li>
          </ul>
        </span><!--end desktop right column-->
        <!--mobile right column-->
        <!-- <span class="visible-mobile text-left nav-right">
          <a href="/events">Events</a>
          <a href="/register">Register</a>
          <a href="/hotel">Hotel</a>
          <a href="/vendors">Vendors</a>
        </span> -->
        <!--end mobile right column-->
      </columnz>
    </row>
  </container>

</div>

{% if site.archive %}<a class="archive-notice" href="http://github.com/everfreenw/efnw2018-archive" target="_blank">Archived 2018 Website</a>{% endif %}