// Background colors
$efnw-purple: 		#392879;
$efnw-blue-dark:	#19244D;
$efnw-blue:			#2192D8;
$efnw-blue-light:	#3BD3FD;
$efnw-teal:			#1DB4A6;
$efnw-pink:			#FD9CF5;
$efnw-yellow:		#FDEAC3;

// Text colors
$efnw-yellow-light:	#FFEED1;
$efnw-green: 		#138F68;
$efnw-green-dark:	#054540;
$efnw-green-brand:	#149085;
$efnw-pink-light:	#FBC1FE;

// Aliases
$efnw-blue-sea:		$efnw-blue-light