// Homepage
.bg-sky {
  padding-top: 180px;
  background: linear-gradient(#2d8bf2, #92f9ff);
  .bg-clouds {
    position: absolute;
    top: 160px;
    left: 10%;
    width: 80%;
    height: auto;
    text-align: center;
    z-index: -1;
    // animation: clouds 15s ease-in-out infinite;
    img {
      width: 100%;
      max-width: 1200px;
    }
    // TODO: ANIMATE
  }
}
@keyframes clouds {
  0% {
    transform: translateY(0px) translateZ(0px);
  }
  25% {
    transform: translateY(15px) translateZ(0px);
  }
  50% {
    transform: translateY(0px) translateZ(0px);
  }
  75% {
    transform: translateY(-15px) translateZ(0px);
  }
  100% {
    transform: translateY(0px) translateZ(0px);
  }
}

#welcome {
  text-shadow: 0 0 4px rgba(0,0,0,.5);
  font-weight: bold;
  margin-bottom: -30vw;
  padding-bottom: 10vw;
  .text-logo {
    transform: scale(1.5);
    @include media-query($on-mobile) {
      transform: scale(1);
    }
    margin-bottom: 3em;
    filter: drop-shadow(0px 0px 4px rgba(0,0,0,.85));
    -webkit-filter: drop-shadow(0px 0px 4px rgba(0,0,0,.85));
    .ef {
      text-shadow: none;
      font-size: 4.2em;
      margin-bottom: 0.2em;
    }
    .nw {
      text-shadow: none;
      font-size: 2.7em;
    }
  }
  h3, p {
    text-shadow: 0 0 15px $efnw-blue-dark;
  }
  h3 {
    font-family: $title-font-family;
  }
  p {
    font-family: $heading-font-family;
    font-size: 1.25em;
    margin-bottom: 0;
  }
}
.text-shadow {
  text-shadow: 0 0 6px rgba(0,0,0,.35);
}
.bg-kids {
  min-height: 108vw;
}
.bg-main-gradient {
  margin-top: -70vw;
}
.bg-fish {
  opacity: .5;
  position: absolute;
  &.reverse {
    transform: scaleX(-1); transform: scaleX(-1);
    webkit-transform: scaleX(-1); transform: scaleX(-1);
  }
}

// Thanks
#thanks {
  .list-of-best-ponies {
    .best-pony {
      background: rgba(255, 255, 255, 0.85);
      display: inline-block;
      color: #19244D;
      border-radius: 4px;
      margin: 2px;
      padding: 0px 8px;
      font-size: 1.25rem;
      font-weight: bold;
      transition: 300ms all ease;
      &:hover {
        background: rgba(255, 255, 255, 0.95);
        transform: translateY(-1px);
        box-shadow: 0 2px 4px #2a498a;
      }
      &.applejack:hover {
        background: bisque;
        color: crimson;
      }
      &.beta:hover {
        background: antiquewhite;
        color: deeppink;
      }
      &.discord:hover {
        background: brown;
        color: pink;
        transform: rotate(69deg);
      }
      &.it39stimetobeawesome:hover {
        background: skyblue;
        color: blue;
      }
      &.mintyfresh:hover {
        background: lightgreen;
        color: green;
        transform: rotate(180deg);
      }
      &.midnightaegis:hover {
        background: navy;
        color: darkseagreen;
      }
      &.nalarson:hover {
        background: rebeccapurple;
        color: orange;
      }
      &.peachhack:hover {
        background: peachpuff;
        color: hotpink;
      }
      &.pinkiepie:hover, &.pinkiefun:hover, &.pinkiepaws:hover {
        background: pink;
        color: darkmagenta;
      }
      &.princesscelestia:hover {
        background: white;
        color: orange;
      }
      &.thornwing:hover {
        background: orange;
        color: brown;
      }
      &.sampletext:hover {
        background: black;
        color: lightgreen;
      }
    }
  }
}

.bg-reef {
  margin-top: -40vw;
  position: relative;
  min-height: 150vw;
  &-subtle {
    opacity: .25;
    margin-top: -150vw;
  }
  .bg-reef-ponies {
    position: absolute;
    bottom: 0;
    left: 3vw;
    width: 94vw;
    @include media-query($on-mobile) {
      text-align: center;
    }
    .bg-mocha {
      float: right;
      @include media-query($on-mobile) {
        float: initial;
      }
    }
  }
}

.guest-embed-list {
  margin-top: 1.75em;
  @include media-query($on-mobile) {
    margin-top: 0;
  }
}
.guest-avatar {
  width: 120px;
  height: 120px;
  background-size: cover;
  background-position: center;
  margin: auto;
  //margin-top: -60px;
  border-radius: 40%;
  border: 4px solid;
  box-shadow: 0 0 8px rgba(0,0,0,.5);
  margin-bottom: 1em;
}
.guest-embed {
  padding-left: 15px;
  max-width: 180px !important;
  margin: auto;
//   @include media-query($on-mobile) {
//     padd: 0;
//   }
}

// Mapbox
#map {
  text-align: left;
  margin: auto;
  box-shadow: 0 0 20px $efnw-green-brand;
  border-radius: 8px;
}
#marker {
  background-image: url('/efnw-logo.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.mapboxgl-popup {
  max-width: 200px;
  color:  black;
  margin-top: -20px;
}

// Slideshow
.slideshow {
  position: relative;
  .button {
    position: absolute;
    z-index: 420;
    top: 50%;
    margin-top: -1.5em;
    opacity: .75;
    background: $efnw-blue-dark;
    span {
      display: none;
    }
    &.prev {
      left: 1em;
    }
    &.next {
      right: 1em;
    }
    &:hover {
      opacity: 1;
      span {
        display: inline-block;
      }
    }
  }
}
.siema {
  background: black;
  box-shadow: 0 0 20px $efnw-blue;
  border-radius: 20px;
}