---
title: "May 18 – 20, 2018 | Bringing Equestria to Earth for 3 Days"
layout: blank
home: true
permalink: /
---

<div class="content">

<div class="bg-sky">

<header id="welcome" class="text-center">

  <div class="bg-clouds hidden-mobile">
    <img src="/images/bg/clouds.png" alt="A cloud floating in the sky">
  </div>

  <container>
    <div class="text-logo">
      <h1 class="ef">Everfree</h1>
      <h1 class="nw">Northwest</h1>
    </div>

    <h3>Seattle's My Little Pony Convention </h3>

    <p>May 18 – 20, 2018</p>
    <p>DoubleTree Hotel Seattle Airport</p>
    <p>Seattle, WA</p>

    <br>

    <div class="social-links social-links-larger hidden-mobile">
      <a href="https://mlpforums.com/forum/132-everfree-northwest/" target="_blank" class="link-mlpforums"><icon class="icon-mlpforums" title="MLP Forums"></icon></a>
      <a href="https://twitter.com/EverfreeNW" target="_blank" class="link-twitter" title="@EverfreeNW"><icon class="icon-twitter"></icon></a>
      <a href="https://facebook.com/EverfreeNW" target="_blank" class="link-facebook" title="Facebook"><icon class="icon-facebook"></icon></a>
      <a href="https://www.youtube.com/user/EverfreeNorthwest" target="_blank" class="link-youtube" title="YouTube"><icon class="icon-youtube"></icon></a>
      <a href="https://EverfreeNW.deviantart.com/" target="_blank" class="link-deviantart" title="DeviantArt"><icon class="icon-deviantart"></icon></a>
      <a href="https://EverfreeNW.tumblr.com" target="_blank" class="link-tumblr" title="Tumblr"><icon class="icon-tumblr"></icon></a>
      <a href="mailto:info@everfreenw.com" target="_blank" class="link-mail"><icon class="icon-mail" title="Contact Us"></icon></a>
    </div>

    <br>

    <a href="#what" class="button button-large">Learn More <icon class="icon-down"></icon></a>
    <a href="/events/" class="button button-large">Events Schedule <icon class="icon-right"></icon></a>
  </container>

</header>

</div>
<div class="bg-kids">
  <img src="/images/bg/waves-md.png" srcset="
  /images/bg/waves-4k.png 3300w,
  /images/bg/waves-hd.png 2000w,
  /images/bg/waves-lg.png 1600w,
  /images/bg/waves-md.png 1200w,
  /images/bg/waves-sm.png 960w"
  sizes="100vw"
  alt="Two of our young mascot ponies, Sharp Focus and Novella, are swimming together beneath the surface of the ocean">
</div>
<div class="bg-main-gradient">

<section id="what" class="text-center">
  <container>
    <h1 class="text-shadow">
      What is Everfree Northwest?
    </h1>
    <p class="lead text-shadow">
      Everfree Northwest is a 3-day all-ages convention for fans of My Little Pony set in beautiful Seattle, Washington. With a Grand Galloping Gala, musical concert, vendors, 24-hour activity rooms, and over 50 hours of events programming, Everfree Northwest has something for everypony!
    </p>

    <div class="slideshow">
      <button disabled class="prev button button-large" role="navigation"><icon class="icon-point-left"></icon> <span>Previous Slide</span></button>
      <button disabled class="next button button-large" role="navigation"><span>Next Slide</span> <icon class="icon-point-right"></icon></button>
      <div class="siema">
        <img src="/images/about/family-md.jpg" srcset="
        /images/about/family-4k.jpg 3300w,
        /images/about/family-hd.jpg 2000w,
        /images/about/family-md.jpg 1200w,
        /images/about/family-sm.jpg 960w"
        sizes="100vw"
        alt="A group of familes gathering around a narrator.">
        <img src="/images/about/panel-md.jpg" srcset="
        /images/about/panel-4k.jpg 3300w,
        /images/about/panel-hd.jpg 2000w,
        /images/about/panel-md.jpg 1200w,
        /images/about/panel-sm.jpg 960w"
        sizes="100vw"
        alt="A panel of people speaking on stage.">
        <img src="/images/about/gala-md.jpg" srcset="
        /images/about/gala-4k.jpg 3300w,
        /images/about/gala-hd.jpg 2000w,
        /images/about/gala-md.jpg 1200w,
        /images/about/gala-sm.jpg 960w"
        sizes="100vw"
        alt="A group of children dancing in a ballroom.">
        <img src="/images/about/volunteers-md.jpg" srcset="
        /images/about/volunteers-4k.jpg 3300w,
        /images/about/volunteers-hd.jpg 2000w,
        /images/about/volunteers-md.jpg 1200w,
        /images/about/volunteers-sm.jpg 960w"
        sizes="100vw"
        alt="A group shot of about 40 volunteers.">
        <img src="/images/about/gaming-md.jpg" srcset="
        /images/about/gaming-4k.jpg 3300w,
        /images/about/gaming-hd.jpg 2000w,
        /images/about/gaming-md.jpg 1200w,
        /images/about/gaming-sm.jpg 960w"
        sizes="100vw"
        alt="A shelf full of tabletop games in the game room.">
      </div>
    </div>

    <br>
    <a href="/about" target="_blank" class="button button-large">More About EFNW <icon class="icon-right"></icon></a>
    <a href="/about/characters" target="_blank" class="button button-large">Meet the Mascots <icon class="icon-right"></icon></a>

    <script src="{{ site.baseurl }}/scripts/siema.min.js"></script>
    <script>
      const mySiema = new Siema({loop: true, duration: 200});
      document.querySelector('.prev').addEventListener('click', () => mySiema.prev());
      document.querySelector('.next').addEventListener('click', () => mySiema.next());
      setInterval(() => mySiema.next(), 5000);
    </script>
  </container>
</section>

<div class="bg-fish">
  <img src="/images/bg/fish-md.png" srcset="
  /images/bg/fish-4k.png 3300w,
  /images/bg/fish-hd.png 2000w,
  /images/bg/fish-lg.png 1600w,
  /images/bg/fish-md.png 1200w,
  /images/bg/fish-sm.png 960w"
  sizes="100vw"
  alt="A school of fish swimming in the sea">
</div>

<section id="where" class="text-center">
  <container>
    <h1>
      DoubleTree Hotel Seattle Airport
    </h1>
    <p class="lead">
      For 2018, Everfree Northwest is going to be located at the DoubleTree Hotel Seattle Airport. Located just down the street from the Sea-Tac airport, the DoubleTree Hotel offers a complimentary shuttle to and from the airport and is just a short walk to the light rail station for access to downtown Seattle.
    </p>
    <div id="map" style="width: 700px; height: 500px; max-width: 90vw;"></div>
    <br>
    <a href="/hotel/" class="button button-large">Learn More <icon class="icon-right"></icon></a>
  </container>
</section>

<div class="bg-fish reverse">
  <img src="/images/bg/fish-md.png" srcset="
  /images/bg/fish-4k.png 3300w,
  /images/bg/fish-hd.png 2000w,
  /images/bg/fish-lg.png 1600w,
  /images/bg/fish-md.png 1200w,
  /images/bg/fish-sm.png 960w"
  sizes="100vw"
  alt="A school of fish swimming in the sea">
</div>

<section id="guests">
  <container>
    <row>
      <column>
        <h1>Special Guests</h1>
        <rows class="guest-embed-list">

          {% for guest in site.data.guests limit:12 %}
             <a class="guest guest-vip guest-embed column" href="{{ site.baseurl }}/guests#{{ guest.name | slugify }}" size="33">
               <div class="guest-avatar" style="background-image:url({{ site.baseurl }}{{ guest.avatar }});"></div>
               <h3 style="height:2em;">{{ guest.name }}</h3>
             </a>
          {% endfor %}

        </rows>
        <p class="text-center">
          <a href="{{ site.baseurl }}/guests"class="button">More Special Guests <icon class="icon-right"></icon></a>
          <a href="{{ site.baseurl }}/community-guests" class="button">Community Guests <icon class="icon-right"></icon> </a>
        </p>
      </column>
      <column>
        <h1>News</h1>
        <ul class="post-list">
          {% for post in site.posts limit:5 %}
            <li>
              <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

              <h3>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h3>
            </li>
          {% endfor %}
        </ul>
        <p class="text-center">
            <a href="{{ site.baseurl }}/news" class="button">More News <icon class="icon-right"></icon></a>
        </p>
      </column>
    </row>
  </container>
</section>

<section id="thanks">
  <container>
    <h1>Special Thanks <icon class="icon-heart"></icon></h1>
    <p class="lead text-center">Here's to the generous attendees who help make Everfree Northwest possible!</p>
    <!-- TODO: move this to a seperate file, possibly backend -->
    <script>
      var thanks = "{{ site.data.sponsors }}".split(",");
      // S/O to SO: https://stackoverflow.com/questions/2450954/how-to-randomize-shuffle-a-javascript-array
      function shuffle(array) {
        var currentIndex = array.length, temporaryValue, randomIndex;
        // While there remain elements to shuffle...
        while (0 !== currentIndex) {
          // Pick a remaining element...
          randomIndex = Math.floor(Math.random() * currentIndex);
          currentIndex -= 1;
          // And swap it with the current element.
          temporaryValue = array[currentIndex];
          array[currentIndex] = array[randomIndex];
          array[randomIndex] = temporaryValue;
        }
        return array;
      }
      $(function() {
        thanks = shuffle(thanks);
        $(".list-of-best-ponies").html("");
        $.each(thanks, function(a,thank) {
          $( "<span class='best-pony " + thank.toLowerCase().replace(/\W/g, '') + "'>" + thank + "</span>" ).appendTo( ".list-of-best-ponies" );
        });
      });
    </script>
    <div class="list-of-best-ponies text-center">
      {{ site.data.sponsors }}
    </div>
  </container>
</section>


<div class="bg-reef">
  <img src="/images/bg/dwelling-md.png" srcset="
  /images/bg/dwelling-4k.png 3300w,
  /images/bg/dwelling-hd.png 2000w,
  /images/bg/dwelling-lg.png 1600w,
  /images/bg/dwelling-md.png 1200w,
  /images/bg/dwelling-sm.png 960w"
  sizes="100vw"
  alt="Bottom of the ocean floor">
  <div class="bg-reef-ponies">
    <img src="/images/bg/mocha-md.png" srcset="
    /images/bg/mocha-4k.png 3300w,
    /images/bg/mocha-hd.png 2000w,
    /images/bg/mocha-lg.png 1600w,
    /images/bg/mocha-md.png 1200w,
    /images/bg/mocha-sm.png 960w"
    sizes="100vw"
    alt="Mocha Sunrise, one of our mascot ponies, gazes at a tiny blue seahorse right above her right ear." class="bg-mocha">
    <img src="/images/bg/frontpage-marina-md.png" srcset="
    /images/bg/frontpage-marina-4k.png 3300w,
    /images/bg/frontpage-marina-hd.png 2000w,
    /images/bg/frontpage-marina-lg.png 1600w,
    /images/bg/frontpage-marina-md.png 1200w,
    /images/bg/frontpage-marina-sm.png 960w"
    sizes="100vw"
    alt="Front Page and Marina, two of our mascot ponies, chat with each other on the ocean floor." class="bg-marina-and-frontpage">
  </div>
</div>

</div>
</div>


<!-- Scripts below, TODO: cleanup and move to seperate file -->
<script src="/scripts/mapbox-gl-0.40.1.js"></script>
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoidmljbG91IiwiYSI6Imo2TnUwRVEifQ.Lym1WQrkrRlIXtSKS7n15w';
  var hotel = [-122.294114, 47.435511];
  var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/viclou/cj89tj0hx4i652rs1n6d7vj36',
      center:  [-122.29498237657003, 47.44053458766169],
      zoom: 14.01
  });

  map.addControl(new mapboxgl.NavigationControl());
  map.addControl(new mapboxgl.GeolocateControl({
      positionOptions: { enableHighAccuracy: true },
      trackUserLocation: true
  }));
  map.scrollZoom.disable();

  var el = document.createElement('div'); el.id = 'marker';

  var hotel_popup = new mapboxgl.Popup({closeOnClick: false}).setHTML('<div class="text-center"><strong>Doubletree by Hilton <br> Seattle Airport</strong> <br> 18740 International Boulevard, <br> Seattle, Washington, 98188, USA</div>');
  new mapboxgl.Marker(el).setLngLat(hotel).setPopup(hotel_popup).addTo(map);
  hotel_popup.addTo(map);
</script>

<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>